
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/showAll">Show all</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/showBlocked">Show blocked</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/showUnBlocked">Show un blocked</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>


