
<div class="row row-cols-1 row-cols-md-2 g-4">
<div *ngFor="let e of allEmployee" class="card" style="width: 18rem;">
  <img src="../assets/images/img_avatar.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{e.name}}</h5>
    <p class="card-text">{{e.status}}</p>
    <p class="card-text">{{e.department}}</p>
    <p class="card-text">{{e.salary}}</p>
    <a  href="/details/{{e.id}}" class="btn btn-primary">Description</a>
  </div>
</div>
</div>

