<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../assets/images/img_avatar.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{employee.name}}</h5>
        <p class="card-text">{{employee.status}}</p>
        <p class="card-text">{{employee.department}}</p>
        <p class="card-text">{{employee.statusDescription}}</p>
        <p class="card-text">{{employee.salary}}</p>
        <button class="btn btn-primary" (click)="changeEmpStatus(employee.id)" > {{ isBlocked ? 'unblocked' : 'blocked' }} </button>
      </div>
    </div>
  </div>
</div>




